$font__main: 'Noto Serif', 'Georgia', serif;
$font__heading: 'Noto Sans', 'Open Sans', 'Arial', sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
