/*!
Theme Name: SwingYourPartner
Theme URI: http://steveclason.com/
Author: Steve Clason
Author URI: http://steveclason.com.com/
Description: Fast, spare, responsive site-specific theme.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: swingyourpartner
Tags:

This theme, like WordPress, is licensed under the GPL.

SwingYourPartner is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/* Fonts labelled 'init' are placeholders while the permanent fonts load. */
/*$font__heading: 'Noto Serif', serif;
$font__heading--init: Georgia, serif;
$font__main: 'Noto Sans', sans-serif;
$font__main--init: Arial, Helvetica, sans-serif;*/
/* Center block */
/* Clearfix */
/* Clear after (not all clearfix need this also) */
@import url(_headings.css);
@import url(_copy.css);
@import url(_lists.css);
@import url(_tables.css);
@import url(_buttons.css);
@import url(_fields.css);
@import url(_links.css);
@import url(_menus.css);
@import url(primary/_posts-and-pages.css);
@import url(primary/_comments.css);
@import url(primary/_header.css);
@import url(primary/_footer.css);
@import url(primary/_portfolio.css);
@import url(primary/_book-reviews.css);
@import url(_captions.css);
@import url(_galleries.css);
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  font-family: Georgia, serif; }
  html body,
  html button,
  html input,
  html select,
  html textarea {
    color: #404040;
    font-family: Georgia, serif;
    line-height: 1.5; }

html.fonts-loaded {
  font-family: "Noto Serif", serif; }
  html.fonts-loaded body,
  html.fonts-loaded button,
  html.fonts-loaded input,
  html.fonts-loaded select,
  html.fonts-loaded textarea {
    font-family: "Noto Serif", serif; }

/* Hide icons until FontAwesome loads. */
/* FIXME Use ASCII arrows until FontAwesome loads, then replace. */
html .fa::before {
  font-family: sans-serif; }

html .fa-bars::before {
  content: ' ';
  width: 3em;
  height: 3em;
  background-color: silver; }

html .fa-long-arrow-right::before {
  content: ''; }

/*.fa::before {
  visibility: hidden;
}*/
html.fa-events-icons-ready .fa::before {
  visibility: visible;
  font-family: 'FontAwesome'; }

html.fa-events-icons-ready .fa-bars::before {
  content: '\f0c9';
  width: auto;
  height: auto;
  background-color: white; }

html.fa-events-icons-ready .fa-long-arrow-right::before {
  content: '\f178'; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

.site {
  padding: 0 1em;
  max-width: 48rem;
  margin: auto; }

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Un-comment the ones you need. */
/**
 * Colors
 */
/**
 * Often re-used variables
 * Relevant mainly to editor-style
 */
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/**
 * Breakpoints & Media Queries
 */
/**
 * Breakpoint mixins
 * Variables are in _breakpoints.scss.
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Button states and focus styles
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Applies editor right position to the selector passed as argument
 */
/**
 * Often re-used variables
 */
/***************** Common Blocks *****************/
/* Paragraph */
p.is-small-text {
  font-size: 14px; }

p.is-regular-text {
  font-size: 16px; }

p.is-large-text {
  font-size: 36px; }

p.is-larger-text {
  font-size: 48px; }

p.has-drop-cap:not(:focus)::first-letter {
  float: left;
  font-size: 4.1em;
  line-height: 0.7;
  font-weight: 600;
  margin: 0.07em 0.23em 0 0;
  text-transform: uppercase;
  font-style: normal; }

p.has-background {
  padding: 20px 30px; }

/* Audio */
.wp-block-audio figcaption {
  margin-top: 0.5em;
  color: #6c7781;
  text-align: center;
  font-size: 13px; }

/* Cover Image */
.wp-block-cover-image {
  position: relative;
  background-size: cover;
  background-position: center center;
  min-height: 430px;
  width: 100%;
  margin: 0 0 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .wp-block-cover-image.has-left-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .wp-block-cover-image.has-left-content h2,
    .wp-block-cover-image.has-left-content .wp-block-cover-image-text {
      margin-left: 0;
      text-align: left; }
  .wp-block-cover-image.has-right-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .wp-block-cover-image.has-right-content h2,
    .wp-block-cover-image.has-right-content .wp-block-cover-image-text {
      margin-right: 0;
      text-align: right; }
  .wp-block-cover-image h2,
  .wp-block-cover-image .wp-block-cover-image-text {
    color: #fff;
    font-size: 2em;
    line-height: 1.25;
    z-index: 1;
    margin-bottom: 0;
    max-width: 636px;
    padding: 14px;
    text-align: center; }
    .wp-block-cover-image h2 a,
    .wp-block-cover-image h2 a:hover,
    .wp-block-cover-image h2 a:focus,
    .wp-block-cover-image h2 a:active,
    .wp-block-cover-image .wp-block-cover-image-text a,
    .wp-block-cover-image .wp-block-cover-image-text a:hover,
    .wp-block-cover-image .wp-block-cover-image-text a:focus,
    .wp-block-cover-image .wp-block-cover-image-text a:active {
      color: #fff; }
  .wp-block-cover-image.has-parallax {
    background-attachment: fixed; }
  .wp-block-cover-image.has-background-dim::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .wp-block-cover-image.has-background-dim.has-background-dim-10::before {
    background-color: rgba(0, 0, 0, 0.1); }
  .wp-block-cover-image.has-background-dim.has-background-dim-20::before {
    background-color: rgba(0, 0, 0, 0.2); }
  .wp-block-cover-image.has-background-dim.has-background-dim-30::before {
    background-color: rgba(0, 0, 0, 0.3); }
  .wp-block-cover-image.has-background-dim.has-background-dim-40::before {
    background-color: rgba(0, 0, 0, 0.4); }
  .wp-block-cover-image.has-background-dim.has-background-dim-50::before {
    background-color: rgba(0, 0, 0, 0.5); }
  .wp-block-cover-image.has-background-dim.has-background-dim-60::before {
    background-color: rgba(0, 0, 0, 0.6); }
  .wp-block-cover-image.has-background-dim.has-background-dim-70::before {
    background-color: rgba(0, 0, 0, 0.7); }
  .wp-block-cover-image.has-background-dim.has-background-dim-80::before {
    background-color: rgba(0, 0, 0, 0.8); }
  .wp-block-cover-image.has-background-dim.has-background-dim-90::before {
    background-color: rgba(0, 0, 0, 0.9); }
  .wp-block-cover-image.has-background-dim.has-background-dim-100::before {
    background-color: black; }
  .wp-block-cover-image.components-placeholder {
    height: inherit; }
  [data-align="left"] .wp-block-cover-image,
  [data-align="right"] .wp-block-cover-image, .wp-block-cover-image.alignleft, .wp-block-cover-image.alignright {
    max-width: 318px;
    width: 100%; }

/* Image */
.wp-block-image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .wp-block-image figcaption {
    margin-top: 0.5em;
    color: #6c7781;
    text-align: center;
    font-size: 13px; }
  .wp-block-image.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .wp-block-image.is-resized {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: -ms-inline-grid;
    -ms-grid-columns: min-content; }
    .wp-block-image.is-resized figcaption {
      -ms-grid-row: 2; }
    .wp-block-image.is-resized img {
      max-width: none; }

/* Heading */
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
  margin: 0; }

.wp-block-heading h1 {
  font-size: 2.44em; }

.wp-block-heading h2 {
  font-size: 1.95em; }

.wp-block-heading h3 {
  font-size: 1.56em; }

.wp-block-heading h4 {
  font-size: 1.25em; }

.wp-block-heading h5 {
  font-size: 1em; }

.wp-block-heading h6 {
  font-size: 0.8em; }

/* Gallery */
.wp-block-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 -8px 0 -8px; }
  .wp-block-gallery .blocks-gallery-image,
  .wp-block-gallery .blocks-gallery-item {
    margin: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .wp-block-gallery .blocks-gallery-image figure,
    .wp-block-gallery .blocks-gallery-item figure {
      margin: 0;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
    .wp-block-gallery .blocks-gallery-image img,
    .wp-block-gallery .blocks-gallery-item img {
      display: block;
      max-width: 100%;
      height: auto; }
    .wp-block-gallery .blocks-gallery-image figcaption,
    .wp-block-gallery .blocks-gallery-item figcaption {
      padding: 40px 10px 5px;
      color: #fff;
      text-align: center;
      font-size: 13px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.7)), color-stop(60%, rgba(0, 0, 0, 0.3)), to(transparent));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 60%, transparent);
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 60%, transparent);
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.3) 60%, transparent);
      position: absolute;
      width: 100%;
      max-height: 100%;
      overflow: auto; }
  .wp-block-gallery.is-cropped .blocks-gallery-image a,
  .wp-block-gallery.is-cropped .blocks-gallery-image img,
  .wp-block-gallery.is-cropped .blocks-gallery-item a,
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .wp-block-gallery.is-cropped .blocks-gallery-image _:-ms-lang(x),
  .wp-block-gallery.is-cropped .blocks-gallery-image figure,
  .wp-block-gallery.is-cropped .blocks-gallery-item _:-ms-lang(x),
  .wp-block-gallery.is-cropped .blocks-gallery-item figure {
    height: auto;
    width: auto; }
  .wp-block-gallery .blocks-gallery-image,
  .wp-block-gallery .blocks-gallery-item {
    width: calc( 100% / 2 - 16px); }
  .wp-block-gallery.columns-1 .blocks-gallery-image,
  .wp-block-gallery.columns-1 .blocks-gallery-item {
    width: calc(100% / 1 - 16px); }
  @media (min-width: 600px) {
    .wp-block-gallery.columns-3 .blocks-gallery-image,
    .wp-block-gallery.columns-3 .blocks-gallery-item {
      width: calc(100% / 3 - 16px); }
    .wp-block-gallery.columns-4 .blocks-gallery-image,
    .wp-block-gallery.columns-4 .blocks-gallery-item {
      width: calc(100% / 4 - 16px); }
    .wp-block-gallery.columns-5 .blocks-gallery-image,
    .wp-block-gallery.columns-5 .blocks-gallery-item {
      width: calc(100% / 5 - 16px); }
    .wp-block-gallery.columns-6 .blocks-gallery-image,
    .wp-block-gallery.columns-6 .blocks-gallery-item {
      width: calc(100% / 6 - 16px); }
    .wp-block-gallery.columns-7 .blocks-gallery-image,
    .wp-block-gallery.columns-7 .blocks-gallery-item {
      width: calc(100% / 7 - 16px); }
    .wp-block-gallery.columns-8 .blocks-gallery-image,
    .wp-block-gallery.columns-8 .blocks-gallery-item {
      width: calc(100% / 8 - 16px); } }
  [data-align="left"] .wp-block-gallery,
  [data-align="right"] .wp-block-gallery, .wp-block-gallery.alignleft, .wp-block-gallery.alignright {
    max-width: 318px;
    width: 100%; }

/* List */
/* Quote */
.wp-block-quote cite,
.wp-block-quote footer {
  color: #6c7781;
  margin-top: 1em;
  position: relative;
  font-size: 13px;
  font-style: normal; }

.wp-block-quote.is-large {
  margin: 0 0 16px;
  padding: 0 1em; }
  .wp-block-quote.is-large p {
    font-size: 24px;
    font-style: italic;
    line-height: 1.6; }
  .wp-block-quote.is-large cite,
  .wp-block-quote.is-large footer {
    font-size: 19px;
    text-align: right; }

/* Subheading */
p.wp-block-subhead {
  font-size: 1.1em;
  font-style: italic;
  opacity: 0.75; }

/* Video */
.wp-block-video {
  margin: 0; }
  .wp-block-video figcaption {
    margin-top: 0.5em;
    color: #6c7781;
    text-align: center;
    font-size: 13px; }
  .wp-block-video.aligncenter {
    text-align: center; }

/************ Formatting **********/
/* Classic */
/* Code */
pre.wp-block-code {
  background: #eeeeee;
  font-family: Courier 10 Pitch, Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

/* Custom HTML */
/* Preformatted */
pre.wp-block-preformatted {
  background: #eeeeee;
  font-family: Courier 10 Pitch, Courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

/* Pullquote */
.wp-block-pullquote {
  border-top: 4px solid #555d66;
  border-bottom: 4px solid #555d66;
  color: #40464d;
  padding: 3em 0;
  text-align: center; }
  .wp-block-pullquote > p {
    font-size: 24px;
    line-height: 1.6; }
  .wp-block-pullquote cite {
    color: #40464d;
    position: relative;
    text-transform: uppercase;
    font-size: 13px; }
  .wp-block-pullquote::after, .wp-block-pullquoteblockquote::before {
    content: ""; }

/* Table */
.wp-block-table {
  overflow-x: auto;
  display: block;
  border-collapse: collapse;
  width: 100%; }
  .wp-block-table tbody {
    width: 100%;
    display: table;
    min-width: 240px; }
  .wp-block-table td,
  .wp-block-table th {
    padding: 0.5em;
    border: 1px solid currentColor; }

/* Verse */
.wp-block-verse pre,
pre.wp-block-verse {
  color: #191e23;
  white-space: nowrap;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow: auto; }

/* Layout Elements */
/* Button */
/* Columns */
/* More [used to be called 'read more'] */
/* Page break */
/* Seperator */
/* Spacer */
/* Text Columns */
/* Shortcode */
/* Categories */
.wp-block-categories.alignleft {
  margin-right: 2em; }

.wp-block-categories.alignright {
  margin-left: 2em; }

/* Latest Posts */
.wp-block-latest-posts.alignleft {
  margin-right: 2em; }

.wp-block-latest-posts.alignright {
  margin-left: 2em; }

.wp-block-latest-posts.is-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none; }
  .wp-block-latest-posts.is-grid li {
    margin: 0 16px 16px 0;
    width: 100%; }

@media (min-width: 600px) {
  .wp-block-latest-posts.columns-2 li {
    width: calc( ( 100% / 2 ) - 16px); }
  .wp-block-latest-posts.columns-3 li {
    width: calc( ( 100% / 3 ) - 16px); }
  .wp-block-latest-posts.columns-4 li {
    width: calc( ( 100% / 4 ) - 16px); }
  .wp-block-latest-posts.columns-5 li {
    width: calc( ( 100% / 5 ) - 16px); }
  .wp-block-latest-posts.columns-6 li {
    width: calc( ( 100% / 6 ) - 16px); } }

.wp-block-latest-posts__post-date {
  display: block;
  color: #6c7781;
  font-size: 13px; }

.wp-block-embed figcaption {
  margin-top: 0.5em;
  color: #6c7781;
  text-align: center;
  font-size: 13px; }

.wp-block-embed.alignleft,
.wp-block-embed.alignright {
  max-width: 318px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
