.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
	a,
	a:link,
	a:visited,
	a:active,
	a:focus {
		color: RGB(64, 64, 64);
		text-decoration: underline dotted RGB(64, 64, 64);
	}
	a:hover {
		text-decoration: none;
	}
}

.comments-link {
		margin-left: 1em;
}
