.site-footer {
	border-top: 2px solid $color__text-main;
	padding-top: 1em;
	a,
	a:link,
	a:visited,
	a:hover,
	a:active,
	a:focus {
		color: $color__text-main;
		text-decoration: underline dotted $color__text-main;
	}
	a:visited {
		text-decoration: underline solid $color__text-main;
	}
	a:hover {
		text-decoration: none;
	}
}

.footer__license {
	float: left;
	margin: 0.3em 1em 1em 0;
	img {
		float: left;
		margin: 0.3em 1em 2em 0;
	}
	.fa {
    font-size: 2em;
    position: relative;
    top: .4rem;
	}
}

.footer__social {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.56rem; /* To keep the vertical rhythm. */
	a,
	a:link,
	a:visited,
	a:hover,
	a:active {
		color: $color__text-main;
	}
	a:hover {
		opacity: 0.8;
	}
}
