.site-header {
  border-bottom: 1px solid $color__text-input;
  position: relative;
}

.site-title {
  margin: 1rem 0 0 0;

  a {
    text-decoration: none;
    color: $color__text-main;

  }
}

.site-description {
  font-size: 1.2em;
  font-style: italic;
  margin: -0.2rem 0 0.9rem 1.5rem;
  line-height: 24px;
  color: rgb( 100, 100, 100);
  font-weight: normal;
}

.howdy {
  border: 1px solid silver;
  padding: 0.3em 1em;
  margin-top: 0.67em;
  border-radius: 4px;
  background: rgb(240,240,240);
  text-align: center;
  font-size: .9em;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.4;
  }

  p {
    margin: 0.5rem 0;
  }
}
