/* Portfolio Page */
.type-portfolio { /* An 'article' element. */
  &.hentry {
    margin-bottom: 3em;
  }

  header {
    margin: 0 0 1.5em 0;
  }

  h3,
  h4 {
    font-family: $font__main;
  }

  h3 {
    font-weight: bold;
  }

  h4 {
    font-weight: normal;
    margin: 0;
  }

  img {
    float: left;
    margin: 0 1.3em 1em 0;
  }

  footer:after {
    content: '';
    display: block;
    clear: both;
  }
}

.portfolio-meta {
  clear: both;
  margin: 0 0 1.5em 0;
  padding: 0 2rem;

  li {
    list-style: none;
  }

  .portfolio-url,
  .portfolio-manager {
    left: -3px;
    position: relative;
  }

  .svg-inline--fa {
    margin-right: 0.3rem;
  }
}
