.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.hentry .bookDetails,
.hentry .entry-footer,
.hentry .entry-meta,
.hentry .footer-item {
	font-size: 90%;
	font-style: italic;
	margin: 0 0 0 1em;
}

.edit-link {
	margin-left: 2em;
}

.entry-title {
	margin: 1.6em 0 1.0em;
	line-height: 1.1;
	text-align: center;
}

a.more-link {
	margin-left: 1em;
}
