@import "primary/posts-and-pages";
@import "primary/comments";
@import "primary/header";
@import "primary/footer";
@import "primary/portfolio";
@import "primary/book-reviews";

.site {
  padding: 0 1em;
  max-width: 48rem;
  margin: auto;
}
