/*.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}
*/

/* Small menu. */
.menu-toggle {
  display: block;
  cursor: pointer;
  font-size: 2em;
  position: absolute;
  right: 0;
  top: 0.5em;
}

.main-navigation {
  ul {
    display: none;
    list-style: none;
    position: absolute;
    right: 0;
    top: -0.3rem;
    background: rgb(245,245,245);
    padding: 0.5rem 1rem;
    border: 1px solid $color__text-main;
    border-radius: 4px;

    ul {
      border: none;
      position: relative;
      right: 0;
      top: 0;
      display: block;

      a,
      a:link,
      a:active,
      a:focus {
        color: RGB(64, 64, 64);
        text-decoration: underline dotted RGB(64, 64, 64);
      }

      a:hover {
        text-decoration: none;
      }

      a:visited {
        text-decoration: underline solid rgb(64, 64, 64);
      }
    }
  }

  li {
    float: none;
    margin-bottom: 0.5rem;

    .svg-inline--fa {
      margin-right: 0.4em;
    }
  }

  select {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    color: rgb(173, 173, 173);
  }

  option,
  input {
    width: 11.7em;
    height: 1.72em;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  &.toggled ul {
    display: block;
    top: 4rem;
    right: 1em;

    ul {
      top: 0;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
