@import "headings";
@import "copy";

html {
  font-family: $font__main;

  body,
  button,
  input,
  select,
  textarea {
    color: $color__text-main;
    font-family: $font__main;
    line-height: $font__line-height-body;
  }
}

/* Hide icons until FontAwesome loads. */

/* FIXME Use ASCII arrows until FontAwesome loads, then replace. */

// html {
//   .fa::before {
//     font-family: sans-serif;
//   }
//   .fa-bars::before {
//     content: ' ';
//     width: 3em;
//     height: 3em;
//     background-color: silver;
//   }
//   .fa-long-arrow-right::before {
//     content: '';
//   }
// }
/*.fa::before {
  visibility: hidden;
}*/
html {
  .fa::before {
    visibility: visible;
    font-family: 'FontAwesome';
  }

  .fa-bars::before {
    content: '\f0c9';
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
  }
  
  .fa-long-arrow-right::before {
    content: '\f178'
  }

}
